<!-- <h1>Hola {{usuario.nombre}} </h1>


{{#if isTutor}}
    <p>Sos tutor</p>
{{else}}
    <p>No sos tutor</p>
{{/if}} <<-->
<h1>{{titulo}}</h1>
<h1 class="text-center">Sillones, Sofás y Deco</h1>
<div class="productsCardContainer row">
    {{#each products}}
        <div class="card col-sm-2 cardProduct">
        <img class="card-img-top imgCardProducts" src="{{this.thumbnail}}" alt="Imagen">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}} </p>
            <p class="card-text">Precio: {{this.price}} </p>       
            <p class="card-text">Stock: {{this.stock}} </p>   
            <button>Agregar al Carrito</button>
        </div>
        </div>
    {{/each}}
</div>